name: merge master

on:
  repository_dispatch:
    types:
      - merge-master

jobs:
  merge-master:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.branch }}
      - name: merge
        run: |
          git config user.name okitan
          git config user.email okitakunio@gmail.com

          git merge --no-ff origin/master --allow-unrelated-histories -m "merge master"
          git remote set-url origin "https://okitan:${{ secrets.MY_GITHUB_TOKEN }}@github.com/okitan/4sq-venue.git"
          git push
