name: on labeled mergeable

on:
  pull_request:
    types: [labeled]
    branches:
      - master

jobs:
  merge-pr:
    runs-on: ubuntu-latest

    steps:
      - name: merge
        uses: pascalgn/automerge-action@v0.15.3
        env:
          GITHUB_TOKEN: "${{ secrets.MY_GITHUB_TOKEN }}"
          MERGE_LABELS: mergeable
          MERGE_METHOD: squash
          MERGE_DELETE_BRANCH: true
