name: on master pushed

on:
  push:
    branches:
      - master

jobs:
  invoke-merge-master:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: dispatch event for all branch
        run: >
          git branch --remote
          | grep -v master
          | grep -v renovate/
          | awk -F "/" '{ print $(2) }'
          | xargs -I % -n 1 curl -vv -H "Authorization: token ${{ secrets.MY_GITHUB_TOKEN }}" -H "Accept: application/vnd.github.everest-preview+json" "https://api.github.com/repos/okitan/4sq-venue/dispatches" -d '{"event_type": "merge-master", "client_payload": {"branch": "%"}}'
