name: on notlinked venues changed

on:
  pull_request:
    paths:
      - "**/notlinked.ltsv"

jobs:
  check-link-pr-automergeable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: check auto merge
        # on.pull_request.paths and changed_files == 1 means only notlinked.ltsv is changed
        if: github.event.pull_request.changed_files == 1
        run: |
          if git diff --unified=0 origin/master | grep "[+-]id:"; then
            if git diff --unified=0 origin/master | grep "[+-]id:\w"; then
              echo "should check link"
            else
              curl -vv \
                    -X PATCH \
                    -H "Authorization: token ${{ secrets.MY_GITHUB_TOKEN }}" \
                    -H 'Accept: application/vnd.github.v3+json' \
                    "${{ github.event.pull_request._links.issue.href }}" \
                    -d '{"labels": ["mergeable"]}'
            fi
          fi
