name: on scraped venues changed

on:
  pull_request:
    paths:
      - "**/scraped.ltsv"

jobs:
  check-scrape-pr-automergeable:
    runs-on: ubuntu-latest

    steps:
      - name: check auto merge
        # on.pull_request.paths and changed_files == 1 means only scraped.ltsv is changed
        if: >
          ${{
            github.event.pull_request.changed_files == 1 &&
            github.event.pull_request.additions <= 1 &&
            github.event.pull_request.deletions <= 1
          }}
        run: |
          curl -vv \
               -X PATCH \
               -H "Authorization: token ${{ secrets.MY_GITHUB_TOKEN }}" \
               -H 'Accept: application/vnd.github.v3+json' \
               "${{ github.event.pull_request._links.issue.href }}" \
               -d '{"labels": ["mergeable"]}'
