name: scheduled link

on:
  schedule:
    - cron: 0 9 * * * # 18:00 JST

jobs:
  link:
    strategy:
      matrix:
        venues:
          - fullel-jiyugaoka
          - grand-tree
          - hikarie
          - hikarigai
          - kosugi-square
          - lala-terrace
          - magnet
          - markcity
          - scramble-square
          - shibuya-stream
          - sweets-forest
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: switch to branch
        run: git switch "link-${{ matrix.venues }}" || git switch -c "link-${{ matrix.venues }}"
      - run: npm ci
      - run: npm run updateLink ${{ matrix.venues }}
        env:
          FOURSQUARE_TOKEN: ${{ secrets.FOURSQUARE_TOKEN }}
      - run: script/push_linked.sh ${{ matrix.venues }}
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
