name: scheduled scrape

on:
  schedule:
    - cron: 0 0 * * * # 09:00 JST

jobs:
  scrape:
    strategy:
      matrix:
        venues:
          - fullel-jiyugaoka
          - grand-tree
          - hikarie
          - hikarigai
          - kosugi-square
          - lala-terrace
          - magnet
          - markcity
          - scramble-square
          - shibuya-stream
          - sweets-forest
      fail-fast: false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: install libgbm
        run: |
          sudo apt-get update
          sudo apt-get install -y libgbm-dev
      - name: switch to branch
        run: git switch "scrape-${{ matrix.venues }}" || git switch -c "scrape-${{ matrix.venues }}"
      - run: npm ci
      - run: npm run scrape
        env:
          LANG: ja_JP.UTF-8
      - run: script/push_scraped.sh ${{ matrix.venues }}
        env:
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
